.container {
	max-width: 75%;	
	padding: 0;
}

.mainContainer {
	background-color: #EBFFD6;
}

.jumbotron {
	background-color: #008A2E;
	padding-left: 20px;
}

.jumbotron h1 {
	color: #FFF;
}

.greenCross {
	margin-left: -15px;
	margin-right: 50px;
	margin-top: -18px;
}

h2 {
	border-bottom: 2px solid #AAA;	
	margin-bottom: 25px;
}

h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-border {
	margin-left: 13px;
	border: 3px;
	border-style: solid;
	border-radius: 5px;
	border-color: #000;
}

.padding {
	padding-left: 15px;
	padding-right: 15px;
}
