/*USING RELATIVE UNIT DECLARATIONS FOR RESPONSIVENESS*/

body {
	font-family: 'Roboto', sans-serif;
}
h2 {
	border-bottom: .1em solid #AAA;	
	margin-bottom: 3%;
}
h3 {
	margin-top: 0;
}
.container {
	max-width: 75%;	
	padding: 0;
}
.mainContainer {
	background-color: #EBFFD6;
}
.jumbotron {
	background-color: #008A2E;
}
.jumbotron h1 {
	color: #FFF;	
}
.greenCross {
	margin-left: -2%;
	margin-right: 6%;
	margin-top: -2%;
}
.img-border {
	margin-left: 2%;
	border: .3em;
	border-style: solid;
	border-radius: 4%;
	border-color: #AAA;
	margin-bottom: 5%;
}
.paddingServicesList {
	padding-left: 4%;
}
.navbarContactInfo svg {
  width: 1.5em;
  height: 1.5em;
}
.contactInfo {
  list-style-type: none;
  padding-top: 5%;
  padding-left: 15%;
}
.contactInfo svg {
  width: 1em;
  height: 1em;
}
.ourServices li {
  list-style-type: disc;
}
.well {
	background-color: #F5FFEB;
	border-radius: .75em;
	font-style: italic;
}
.oshaVideo {
	padding-top: 10%;
	padding-right: 15%;
}
.containerPadding {
	padding-left: .938em;
	padding-right: .938em;
	padding-bottom: 7%;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 991px) {
    .jumbotron {
        padding-top: 20px;
        padding-bottom: 20px;        
    }    
}
@media screen and (max-width: 767px) {
    .container {
    	max-width: 95%;	
		padding: 0;
	}	
}